<!DOCTYPE html>
<html>

<head>
  <title>Ejercicio 2</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
      <nav id="menu-nav">
          <div id="logo">
            <h1>TechNova</h1>
          </div>
          <div id="enlaces">
              <ul>
                  <a href="#">Inicio</a>
                  <a href="#">Productos</a>
                  <a href="#">Blog</a>
                  <a href="#">Contacto</a>
              </ul>
          </div>
      </nav>
  </header>

  <main>
      <section id="hero-section">
          <div id="info-hero-section">
            <h1>Innovación al alcance de todos</h1>
            <p>Descubre cómo nuestras soluciones tecnológicas pueden mejorar tu día a día</p>
            <button id="hero-button">Ver más</button>
          </div>
      </section>

      <section id="cards">
        <div class="card">
          <h3>Diseño moderno</h3>
          <p>Interfaces limpias, intuitivas y adaptadas a cualquier dispositivo.</p>
        </div>
        <div class="card">
          <h3>Alto rendimiento</h3>
          <p>Nuestras aplicaciones están optimizadas para ofrecer la máxima velocidad.</p>
        </div>
        <div class="card">
          <h3>Seguridad garantizada</h3>
          <p>Protegemos tus datos con las últimas tecnologías de cifrado.</p>
        </div>
        <div class="card">
          <h3>Soporte 24/7</h3>
          <p>Estamos disponivles en todo momento para resolver tu dudas.</p>
        </div>
      </section>
  </main>

  <footer id="footer">
      <div id="info-footer">
          <h4>
            @ 2025 TechNova - Innovación sin límites
          </h4>
      </div>
  </footer>
</body>

</html>