@import "theme.css";

/*ESTILO GENERAL*/
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
}

/*ESTRUCTURA DEL BODY*/
body {
  display: grid;
  grid-template-areas: 
    "menu-nav"
    "hero-section"
    "cards"
    "footer";
  grid-template-rows: 100px 800px 300px 50px;
  grid-template-columns: 1fr;
  min-height: 100vh;
}
/***************HEADER*****************/
header {
  background: var(--primary-background);
}

#menu-nav {
  grid-area: menu-nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: 0px;

  h1 {
    font-weight: bold;
    color: var(--primary-text-color);
  }

  a {
    font-weight: bold;
    color: var(--primary-text-color);
    text-decoration: none;
  }
}


/****************MAIN - HERO SECTION****************/

section#hero-section {
  grid-area: hero-section;
  background: var(--secondary-background); /* Asegúrate que aquí es azul */
  width: 100%;
  min-height: 50vh;
  margin: 0;
  padding: 100px 0;
  box-sizing: border-box;
}

#info-hero-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************MAIN - CARDS****************/

section#cards {
  grid-area: cards;
  background: var(--third-backgorund);
  display: flex;
  flex-direction: row;
  gap: 10px;

  .card {
    background: var(--element-background);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);    ;
  }
}


/********************FOOTER*****************/
#footer {
  grid-area: footer;
}